<html>

<head>
  <title>Welcome to Instagram</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8" />
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <style>
  .insta {font-family: Comic Sans MS, cursive, sans-serif;}

  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{ logout_url }}">Logout</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/edituser">Edit Profile</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/addpost">Add post</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/profilepage?key={{ myuser.key.string_id() }}">Profile page</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/search"> <i class='fa fa-search'></i></a>
      </li>
    </ul>
  </nav>


  <br />
  <br />
  <br />


  <div class="container">
  <div class="column  ">

      <div class="col-sm-6 col-md-8 col-xs-6 mx-auto text-center">
        <i class="fab fa-instagram" style="font-size:36px"> <span class="insta">instagram</span></i>
      <h1 class=" text-center display-4">Username: {{myuser.name}}</h1>
      </div>

<br/> <br/>
  </div>
    <div class="column  ">


      <div class="col-sm-6 col-md-4 col-xs-6 mx-auto bg-light">




        {% for i in posts %}<br/><br/>
        <i class='far fa-smile' style='font-size:24px'></i>&nbsp &nbsp<a href='/profilepage?key={{i.get().user.get().key.string_id() }}'> {{i.get().user.get().name}} </a>    &nbsp &nbsp      <span class= "text-muted">Posted at   {{i.get().hour}}<br/>
 </span>

        <img src="{{get_serving_url(i.get().blob)}}" class="img-fluid" alt="">

<br/><br/>
        <a data-toggle="collapse" href="#{{ i }}" aria-expanded="false" aria-controls="{{ i }}"> <i class='far fa-comments text-dark' style='font-size:24px' ></i></a>&nbsp&nbsp<i class='fas fa-heart' style='font-size:24px'></i>


        <p><a href='/profilepage?key={{i.get().user.get().key.string_id() }}'> {{i.get().user.get().name}} </a>    {{i.get().caption}}</p>





          <span class= "text-muted">comments..</span><br/>
          <div class="collapse multi-collapse" id="{{i}}">
              <form action="/?key={{i.get().key.id()}}" method="post">
                <input type="text" name="comment" maxlength="200" />
                <input type="submit" value="post" name="button" class="btn btn-secondary" />

              </form>
            </div>


        {% for comments in i.get().comments  %}

    <span class="font-weight-bold ">{{comments.comment_user.get().name}} </span> {{ comments.text }}<br/>

<br/>
<a class="btn btn-dark" href="/viewcomments?key={{i.get().key.id()}}" role="button">Expand</a>


        {% endfor %}
<hr/><hr/>
        {% endfor %}
        <br />
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />





  <br />






  <br />

  <br />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
